body{
    height: 850px;
    width: 800px;
    background-color: hsl(0, 0, 96);
}

@font-face {
    font-family: 'bosco';
    src: url(assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);

    font-weight: 550;

}

@font-face {
    font-family: 'boscoitalic';
    src: url(assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf) format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'boscoregular';
    src: url(assets/fonts/static/DMSans-Regular.ttf);

    font-weight: 500px;
}

@font-face {
    font-family: 'boscomedium';
    src: url(assets/fonts/static/DMSans-Medium.ttf);
}

@font-face {
    font-family: 'boscomediumitalic';
    src: url(assets/fonts/static/DMSans-MediumItalic.ttf);
}

.top{
    display: flex;
    justify-content: space-evenly;
    height: 340px;
    width: 795px;
    padding: 20px 0px 20px 0px;
    font-family: bosco;
    background-color: rgb(245, 245, 245);
}

.topleft{
    max-height: 100%;
    width: 200px;
    border-radius: 10px;
    background-color: hsl(31, 66%, 93%);
}

.toplefttext{
    letter-spacing: -2px;
    font-size: 30px;
    padding-left: 30px;
    font-weight: 700px;
    line-height: 25px;
    padding-top: 30px;
}

.quicker{
    color:hsl(256, 67%, 59%);
    font-style: italic;
}

.topleftimg{
    width: 75%;
    padding-left: 25px
}


.topmid{
    max-height: 100%;
    width: 200px;
    border-radius: 10px;
    background-color: hsl(39, 100%, 71%);
}

.topmidtext{
    letter-spacing: -2px;
    font-size: 30px;
    padding-left: 20px;
    line-height: 25px;
    margin-top: 20px;
}

.topmidimg{
    width: 85%;       
    height: auto;       
    padding: 10px;      
    margin-left: 10px;
    margin-top: 10px;
}

.topright{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 200px;
    border-radius: 10px;
    background-color: hsl(254, 88%, 90%);
    overflow: hidden;
}

.toprighttext{
    letter-spacing: -2px;
    font-size: 23px;
    padding-left: 20px;
    line-height: 25px;
}

.toprightimg{
    width: 285px;       
    height: 165px;       
    padding: 10px;  
    margin-top: -20px;
    padding-left: 20px;
    margin-bottom: -10px;
}

.toprighttext2{
    font-size: 13px;
    padding-left: 20px;
    line-height: 12px;
    font-weight: 500px;
}

.mid{
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    width: 795px;
    padding: 20px 0px 20px 0px;
    background-color: rgb(245,245,245);
    font-family: bosco;
}

.midleft{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 200px;
    border-radius: 10px;  
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
}

.midleftimg{
    width: 120%;       
    height: 49px;       
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: -13px;
}

.midlefttext{
    letter-spacing: -2px;
    font-size: 23px;
    padding-left: 20px;
    line-height: 25px;
    font-size: 27px;
}

.midmid{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 200px;
    border-radius: 10px;
    background-color: hsl(39, 100%, 71%);
    overflow: hidden;
}

.midmidtext{
    letter-spacing: -2px;
    font-size: 23px;
    padding-left: 20px;
    line-height: 25px;
    font-size: 24px;
    font-size: 27px;
    margin-top: 20px;
}

.midmidimg{
    width: 80%;       
    height: auto;       
    padding-left: 20px;      
    padding-top: 10px;
    display: block;      
    margin-top: -30px;
}

.midright{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 200px;
    border-radius: 10px;
    font-family: bosco;
    background-color: hsl(0, 0%, 100%);
}

.midrighttext{
    font-size: 50px;
    margin-top: 25px;
    margin-left: 15px;
    line-height: 30px;
    margin-bottom: 10px;
}

.midrighttext2{
    font-size: 15px;
}

.midrightimg{
    width: 75%;       
    height: auto;       
    padding: 10px;           
}

/*.bot{
    display: flex;
    justify-content: space-between;
    height: 172px;
    width: 725px;
    background-color: rgb(245,245,245);
    padding: 20px 35px 20px 35px;
    font-family: boscoregular;
    color: white;
}*/

.botleft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    border-radius: 10px;
    margin: 20px 35px 20px 35px;
    background-color: hsl(256, 67%, 59%);
    margin: 0 10px;
}

.botlefttext{
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
    text-align: center; 
    margin-bottom: 15px;
}

.x{
    color: hsl(39, 100%, 71%);
}

.faster{
    font-family: boscoitalic;
}

.botleftimg{
    padding-left: 117px;
    width: 30%;       
    height: auto;       
}

.botlefttext2{
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}

.botright {
    display: flex;
    justify-content: space-between;
    flex: 1;
    border-radius: 10px;
    margin: 20px 35px 20px 35px;
    background-color: hsl(256, 67%, 59%);
    margin: 0 10px; 
}

.botrightimg{
    width: 50%; 
    height: 85%;             
    padding-top: 13px;    
    padding-bottom: 10px;
    padding-left: 15px;  
    display: block;      
    margin: 0 auto;  
}

.botrighttext{
    padding-top: 30px;
    font-size: 22px;
    line-height: 20px;
}